h1{
  color:#320f0f;
  /* background-color:grey; */
  /* padding: 1px; */
}

body{
  height: 100vh;
  background-image: url("carimage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

form{
  font-size: 30px;
}

table , th ,td{
  font-size: 20px;
  border: 1px solid #000;
  text-align: center;
  BORDER-COLLAPSE: collapse;
  WIDTH: 62REM;
}

tr:nth-child(even) {
  background-color: #A0A0A0;
}

tr:nth-child(odd) {
  background-color: #fff;
}

.caption_class{
  font-size: 30px;
}
#myForm input {
    height: 28px;
    min-width: 11rem;
}

#submitBtn {
  height: 3.5rem;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  FONT-SIZE: 1.5REM;
  PADDING: 0 3REM;
}
